<div class="row">
    <table class="table table-bordered table-hover" id="tbBook">
        <thead class="thead-dark">
            <tr>
                <th>BookId</th>
                <th>Book Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/site.js" asp-append-version="true"></script>
}